.hero-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px; 
  flex-wrap: wrap; 
}

.hero-image-wrapper {
  flex: 1;
  margin: 50px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.hero-image {
  width: 100%; 
  height: auto; 
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
  /* clip-path: inset(0); */
  object-fit: contain;
}

.hero-image:hover {
  transform: scale(1.1); 
  opacity: 0.9; 
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column; 
    align-items: center; 
  }
}